<header>
  <div class="custom-border">
    <div class="container">
      <div class="row fix-row">
        <div class="col-lg-6 col-md-12 col-sm-12  item-positions-top ">
          <div class="col-lg-4 col-md-6 col-sm-6 pt-2 d-flex phone-mail">
            <mat-icon class="white"> phone</mat-icon>
            <span class="white">0729.645.780</span>
          </div>
          <div class=" col-md-6 col-lg-6 col-sm-6  pt-2 pb-2 d-flex phone-mail">
            <mat-icon fontSet="" class="white"> email</mat-icon>

            <span class="white">contact@realestate.com</span>
          </div>
        </div>
        <div class="col-lg-6 col-md- col-sm-12  ">
          <div class="col d-flex  justify-content-md-end justify-content-lg-end justify-content-sm-start">
            <div class="col-lg-3 col-md-3 pt-2 pb-2  header-all-row">
              <mat-icon class="white"> star</mat-icon>
              <span class="white">favorites</span>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 pt-2 pb-2 d-flex">
              <fa-icon class="white" [icon]="['fas', 'sign-in-alt']"></fa-icon>
              <span class="white"> <a routerLink="/login" class="login-link">login / register</a></span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 socials">
              <fa-icon class="white" [icon]="['fab', 'facebook-f']"></fa-icon>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 socials">
              <fa-icon class="white" [icon]="['fab', 'twitter']"></fa-icon>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 last-social">
              <fa-icon class="white" [icon]="['fab', 'linkedin-in']"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <div>
      <img class="logo-position" src="../../../../assets/img/logo.png" alt="logo">
      <span class="real-estate">real</span><span class="estate">estate</span>
        </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernavbar"
              aria-controls="headernavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="headernavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link  nav-bar-text"  href="#">
              <img class="mb-2" src="../../../../assets/img/home.png" alt="home-icon"></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  nav-bar-text" href="#">FOR SALE</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  nav-bar-text" href="#">FOR RENT</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  nav-bar-text"  href="#">FOR RENT</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  nav-bar-text" href="#">INVESTMENTS</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  nav-bar-text"  href="#">COMPANY</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  nav-bar-text"  href="#">CONTACT</a>
          </li>
          <li class="nav-item ">
            <button type="button" class="btn btn-success subtmiBtn">SUBMIT YOUR PROPERTY</button>
          </li>
        </ul>
      </div>
      </div>
    </nav>

  </div>
</header>
