<section>
  <div class="container agents">
    <swiper
      [config]="swiperConfig2"
      class="mySwiper2"
    >
      <ng-template swiperSlide>
    <div class="col-sm-12 col-md-12 col-lg-3">
      <div>
        <h2 class="agent-header">Our agents</h2>
        <h2 class="agent-header1">You Can Trust</h2>
        <p class="agent-description">
          Experteur sint occaecat cupidatat non proident, sunt in culba quiofficia deserunt mollit anim id
          est laborum.
          sed ut perspiciatis unde omnis natus ervoluptatem accusantium
        </p>
        <div class="buttons">
          <button class="btn btn-primary agent-button swiper-button-prev-unique" type="button">
            <mat-icon>arrow_left</mat-icon>
          </button>
          <button class="btn btn-primary agent-button  swiper-button-next-unique" type="button">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <img class="responsive" src="assets/img/agent-1.png" alt="">
    </div>
    <div class="col-md-3">
      <img class="responsive" src="assets/img/agent-2.png" alt="">
    </div>
    <div class="col-md-3">
      <img class="responsive" src="assets/img/agent-3.png" alt="">
    </div>
  </ng-template>
  </swiper>
  </div>

</section>
