<section>
<swiper
  [navigation]="true"
  [config]="swiperConfig1"
  class="mySwiper1"
>
  <ng-template class="swiperContent" swiperSlide>
    <div class="container slide-container">
      <div class="row">
        <div class="container d-flex">
          <div class="col-sm-12 col-md-8  col-lg-8 col-xl-6 p-0">
            <div class="left-content">
              <h5 class="carousel-title">Penthouse Apartment with 5 Rooms in Pipera-Baneasa Forest
                Area</h5>
              <p class="carousel-description">Penthouse apartment for sale located on Iancu Nicolae Road. With this
                property
                you can enjoy the advantages such as proximity to Baneasa Forest and the benefits of a luxury
                residential
                area, all in the immediate vicinity of the largest shopping centers in Bucharest – Baneasa Shopping
                City,
                Carrefour, Metro, Bricostore and Mobexpert.</p>
              <div class="d-flex ">
                <div class="buttons">
                  <button class="btn btn-success carouselBtn">VIEW DETAILS</button>
                  <a class="carouselLink" href="#">SEE ALL APPARTMENTS</a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4  col-lg-4 col-xl-6  p-0 hide-side">
            <img class="carousel-image" src="assets/img/penthause.png"  alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template class="swiperContent" swiperSlide>
    <div class="container slide-container">
      <div class="row">
        <div class="container d-flex">
          <div class="col-sm-12 col-md-8  col-lg-8 col-xl-6 p-0">
            <div class="left-content">
              <h5 class="carousel-title">Penthouse Apartment with 5 Rooms in Pipera-Baneasa Forest
                Area</h5>
              <p class="carousel-description">Penthouse apartment for sale located on Iancu Nicolae Road. With this
                property
                you can enjoy the advantages such as proximity to Baneasa Forest and the benefits of a luxury
                residential
                area, all in the immediate vicinity of the largest shopping centers in Bucharest – Baneasa Shopping
                City,
                Carrefour, Metro, Bricostore and Mobexpert.</p>
              <div class="d-flex ">
                <div class="buttons">
                  <button class="btn btn-success carouselBtn">VIEW DETAILS</button>
                  <a class="carouselLink" href="#">SEE ALL APPARTMENTS</a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4  col-lg-4 col-xl-6  p-0 hide-side">
            <img class="carousel-image" src="assets/img/penthause.png"  alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</swiper>

</section>
