<section style="background: #FFFFFF; padding-bottom: 30px;">
  <div class="container fieldset-container">
    <fieldset class="fieldset">
      <p class="legend-text">Popular Properties</p>
      <div class="row">
        <div class=" col-sm-12 col-md-6 col-lg-6   ">
          <div class="black-color-bg p-4">
            <div class="fieldset-item">
              <p class="fieldset-text">
                Apartment for Sale with 3 Rooms <br> in Tunari Village, Ilof County
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6  ">
          <div class="black-color-bg p-4 tablet-mt-5">
            <div class="fieldset-item">
              <p class="fieldset-text">
                House for Sale with 5 rooms <br> Pipera-Baneasa Area, Bucharest 310 sqm
              </p>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4  ">
          <div class="black-color-bg mt-2 tablet-mt-5 ">
            <div class="fieldset-item1">
              <p class="fieldset-text"> Duplex Apartment for Sale <br> with 4 Rooms in Dorobanti-Capitale
                Area
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4  ">
          <div class="black-color-bg mt-2">
            <div class="fieldset-item1">
              <p class="fieldset-text"> Villa for Rent with 6 Rooms <br>in Gheorghe Ionescu Sisseti Area
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4  mt-2">
          <div class="black-color-bg  tablet-mt-5">
            <div class="fieldset-item1">
              <p class="fieldset-text"> Apartment for Rent with 4 Rooms <br> in Eminescu-Romana Area
              </p>
            </div>
          </div>
        </div>
      </div>


    </fieldset>
  </div>

</section>
