<section >
  <footer class="footer">
    <div class="container">
      <div class="row pb-1 m-0">
        <div class="col-sm-12 col-md-6 col-lg-4 p-0">
          <div class="about-texts">
          <h5 class="footer-header">ABOUT US</h5>
          <p class="about-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officiala descerunt mollit
            anim id est laborum.</p>
          <p class="about-text">Neuque porro quisquam est, qui dolorem ipsum quia dolor siamet,
            consectetur, adipisci velit,
            sed quia numquam eus modi tempora incidunt labore et dolore magnam aliquam quvoluptatem.</p>
          </div>
          </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
          <h5 class="footer-header">PROPERTY TYPES</h5>
          <div class="wrapper">
            <p class="property-carret">
              <mat-icon>arrow_right</mat-icon>
              Villa
            </p>
            <p class="property-carret">
              <mat-icon>arrow_right</mat-icon>
              Residential
            </p>
            <p class="property-carret">
              <mat-icon>arrow_right</mat-icon>
              Apartment
            </p>
            <p class="property-carret">
              <mat-icon>arrow_right</mat-icon>
              Condominium
            </p>
            <p class="property-carret">
              <mat-icon>arrow_right</mat-icon>
              Shop
            </p>
            <p class="property-carret">
              <mat-icon>arrow_right</mat-icon>
              Office
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
          <h5 class="footer-header">LOCATIONS</h5>
          <p class="property-carret">
            <mat-icon>arrow_right</mat-icon>
            Bucharest
          </p>
          <p class="property-carret">
            <mat-icon>arrow_right</mat-icon>
            Consanta
          </p>
          <p class="property-carret">
            <mat-icon>arrow_right</mat-icon>
            Brasov
          </p>
          <p class="property-carret">
            <mat-icon>arrow_right</mat-icon>
            Cluj-Napoca
          </p>
          <p class="property-carret">
            <mat-icon>arrow_right</mat-icon>
            Craiova
          </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 pr-0">
          <h5 class="footer-header">FROM THE BLOG</h5>
          <div class="container p-0 d-block">
            <div class="row m-0 pb-2 pt-3">
              <div class="blog-post">
              <div class="col-md-3 p-0">
                <img class="blog-img" src="/assets/img/banner.png" alt="" width="82" height="82">
              </div>
              <div class="col-md-9 p-0">
                  <p class="from-blog-text mb-2">Making First Impressions Count with Leongatha
                    Home</p>

                <div class="blog-items">

                  <span class="badge  badge-success badge-success-blog">INTERIOUR DESIGN</span>
                  <mat-icon class="iconTime">access_time</mat-icon>
                  <span class="from-blog-text1">
                                        MARCH 18, 2016
                                    </span>
                </div>
              </div>
            </div>
            </div>
            <div class="row m-0 pb-2 pt-3">
              <div class="blog-post">
              <div class="col-md-3 p-0">
                <img class="blog-img" src="/assets/img/banner.png" alt="" width="82" height="82">
              </div>
              <div class="col-md-9 pl-1">
                  <p class="from-blog-text mb-2">Inner City Areas Where It's Cheaper to  Rent</p>

                <div class="blog-items">

                  <span class="badge  badge-success badge-success-blog">RENTING</span>
                  <mat-icon class="iconTime">access_time</mat-icon>
                  <span class="from-blog-text1">
                                        FEBRUARY 22, 2018
                                    </span>
                </div>
              </div>
            </div>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div class="footer-content">
            <div class="footer-logo ">
              <img src="/assets/img/realestate.png" class="footer-logo-img" alt="">
              <p class="copyright-text"> Copyright © 2016 RealEstate, Inc. All rights reserved</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </footer>
</section>
