.backbtn{
  color:#FFFFFF;
  text-decoration: none;
}

.card-title{
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, .13);
  margin: 0;
}
.card-end{
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, .13);
  margin: 0;
}
