<div class="continer">
  <app-login-header></app-login-header>
</div>
<div class="col-md-12">
  <div class="card card-container">
    <h2>Login</h2>
    <form (ngSubmit)="resetRequest(resetForm)" #resetForm="ngForm">
      <h1>Forgot Password?</h1>
      <span>You can reset your password here.</span>
      <input
        id="email"
        ngModel
        type="email"
        class="form-control loginInput"
        name="email"
        style="color: #000;opacity: 1;"
        #email="ngModel"
        required email
        placeholder="Enter your E-mail">
      <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      <button type="submit" name="reset-password-button" [disabled]="!resetForm.valid">Reset
        Password
      </button>
    </form>
  </div>
</div>
